---
import { Icon } from "astro-icon/components";
import * as about from "../pages/en/about/about.md";
---

<header class="mx-auto pt-10 min-[480px]:pt-6 pb-2 relative">
  <article
    class="flex flex-col items-center md:flex-col gap-4 w-full max-w-2xl"
  >
    <div
      class="hidden flex-shrink-0 w-20 min-[480px]:block self-start md:self-center md:w-24 rounded-full shadow-sm overflow-hidden"
    >
      <img
        alt="Luis Delgado Gallardo"
        src="/profile.webp"
        class="grayscale-[50] hover:grayscale-0"
      />
    </div>

    <div class="text-center">
      <div
        class="pt-20 flex justify-center min-[480px]:pt-0 md:justify-between items-center mb-2 relative"
      >
        <h1 class="text-3xl font-extrabold tracking-tight md:text-3xl relative">
          {about.frontmatter.name}
        </h1>
      </div>
      <h2 class="text-lg mb-2 text-secondary">
        {about.frontmatter.designation}
      </h2>
      <div class="flex items-center justify-center mt-1">
        <Icon name="carbon:location" class="w-4 h-4 mr-1" />
        <p class="text-sm text-secondary">{about.frontmatter.location}</p>
      </div>
    </div>
  </article>
</header>

<style>
  @media (max-width: 768px) {
    .flex-col.justify-end {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
